<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="search.css">
    <title>Book Slots App</title>
</head>
<body>

    <nav>
        <div class="container">
            <div class="logo">Book Slots</div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <button id="schedulesButton">Schedules</button>
            <button id="flashcardsButton">Flashcards</button>
        </div>
    </nav>

    <div class="container">
        <div id="bookSlotsContainer"></div>
        <!-- <button id="addBookSlot">Add Book Slot</button> -->
    </div>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <script src="search.js"></script>
</body>
</html>
