<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="studentHome.css">
    <title>Sticky Notes App</title>
</head>
<body>

    <nav>
        <div class="container">
            <div class="logo">Sticky Notes</div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <button id="schedulesButton">Schedules</button>
        </div>
    </nav>

    <div class="container">
        <div id="stickyNotesGrid"></div>
        <button id="addStickyNote">Add Sticky Note</button>
    </div>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <script src="studentHome.js"></script>
</body>
</html>
